.container {
    display: grid;
    grid-template-rows: 50px 100px 75px;
    grid-template-columns: 100px 200px 150px;
    gap: 10px;
}

.item {
    background-color: orange;
    border: 1px solid black;
    padding: 10px;
}