body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: green;
}

ul li a {
    color: orange;
}

ol li a {
    color: red;
}

#p1 {
    color: orange;
}
.p2{
    color: red;
}
.cetak-tebal {
    font-weight: bold;
}
p.cetak-tebal {
    font-size: 30px;
}